*{box-sizing: border-box;}
body{
    margin: 0;
    font-family: Inter, sans-serif;
    padding-top: 180px;
}
.logo a{
    font-weight: 700;
    font-size: 30px;
    color: rgb(33, 37, 41);
    text-decoration: none;
}
.logo span, .footer-logo a span{
    color: #CE1212;
}
h2{
    font-family: "Amatic SC", sans-serif;
    font-size: 65px;
    color: rgb(55, 55, 63);
    font-weight: 700;
}
h5{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: rgb(125, 125, 125);
}
p{
    color: rgb(79, 79, 90);
}
a{
    text-decoration: none;
    color: rgb(33, 37, 41);
}
.container{
    width: 85%;
    margin:auto;
    padding: 20px 0;
}
/* <navbar> */
.navbar{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
.navbar .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.logo{
    /* width: 100%; */
}
.menu ul{
    padding: 0;
}
.menu ul li{
    list-style: none;
    padding: 5px 0;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    font-weight: 600;
}
.menu ul li a:hover{
    color: #CE1212;
    /* text-decoration: 5px solid #CE1212; */
    border-bottom: 2px solid #CE1212;
}
.nightmood{
    padding: 10px 0;
}
/* </navbar> */

/* <Home> */
.home, .gallery{
    background-color: #EEEEEE;
    padding: 50px 0;
}
.home-img{
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);    
}
.home-img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake { 
    25% { transform: rotate(5deg);}
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
.home-img img{
    width: 100%;
}
.home-text{
    text-align: center;
}
.home-button{
text-align: center;
display: flex;
justify-content: space-evenly;
}
.home-button .book{
    background-color: #CE1212;
    border-radius: 0 100vh 100vh;
    padding: 10px 15px;
    color: #FFFFFF;
    border-color: #CE1212;
    font-size: medium;
}
.home-button .youtube{
    border: none;
    font-size: medium;
    color: #222222;
    transition: all 0.3s;
    position: relative;
    z-index: 2;
}
.home-button .youtube:hover{
    color: #CE1212;
}
.home-button .youtube i{
    color: rgb(33, 37, 41);
    background-color: #FFFFFF;
    border-radius: 50%;
    border: #FFFFFF;
    padding: 15px;
   
}
/* .home-button .youtube i::after{
    content: "";
    padding: 25px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #ce1212, transparent);
    position: absolute;
    z-index: -5;
    left: 0;
    top: -1px;
    left: -3px;
} */
.home-button .youtube i::after{
    content: "";
    border: 30px solid #CE1212;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    transform: rotate(-45deg);
    top: -5px;
    left: -2px;
    z-index: -1;

}
/* </home> */

/* <chefs> */
.chefs, .gallery{
    text-align: center;
    display: flex;
}
.header{
    text-align: center;
    padding-top: 30px;
}
.header span{
    font-size: 14px;
    color: (127, 127, 144);
}
h2{
    margin: 0;
}
.header h2 span{
    font-family: "Amatic SC", sans-serif;
    font-size: 65px;
    color:#CE1212;
    font-weight: 700;
}
.chef-name h3{
    padding: 0;
}
.chef-name{
    width: 100%;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s;
    margin: 10px 0;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    border: 0.5px solid #f2f2f2;
}
.chef-name img{
    width: 100%;
}
.socialmedia{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    background-color:rgba(215, 202, 162,0.5);
    border-radius: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s;
}
.chef-name:hover{
    transform: scale(1.1);
}
.chef-name:hover .socialmedia{
    transform: translateX(0);
}
.socialmedia i{
    color: #C0C2AD;
    padding: 10px;
}
.image{
    /* position: relative; */
}
.image::before{
    content: "";
    position: absolute;
    /* bottom: -10px; */
    bottom: 30%;
    left: 0;
    background-image: url(../images/wave\ \(1\).svg);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
}
.chef-text{
    padding-top: 20px;
}
/* </chefs> */
/* <gallery> */
.gallery .item{
    width: 100%;
    border: 5px solid #ffffff;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
.gallery .item img{
    width: 100%;
    transform: scale(1);
    transition: transform 0.5s;
}
.item .text{
    color: #FFFFD8;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition: transform 0.5s;
}
.item p{
    color: rgb(221, 221, 221);
}
.item:hover .text{
    transform: translateY(0);
}
.item:hover img{
    transform: scale(1.1);
}
/* </gallery> */
/* <contact us> */

.contact-us{
    padding: 60px 0;  
}
.maps iframe{
width: 100%;
margin: 15px 0;
}
.address{
    padding: 30px 10px;
    text-align: left;
    background-color: #F5F5F5;
    display: flex;
    margin: 10px 10px;
}
.address i{
    background-color: #CE1212;
    padding: 15px;
    border-radius: 50%;
    align-self: center;
    color: #EEEEEE;
}
.address-content{
    padding: 0 10px;
    flex-wrap: wrap;
    align-self: center;
}
.address-content p{
    color: rgb(33, 37, 41);
    margin: 0;
    font-weight: 400;
}
.address-content p span{
    color: rgb(33, 37, 41);
    font-weight: 700;
}
.form{
    padding: 10px 0;
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.name, .email, .subject{
    margin: 10px 5px;
    width: 100%;
    padding: 15px;
    border-color: #E8E3E3;
}
.text-area{
    margin: 10px 5px;
    width: 100%;
    border-color: #E8E3E3;
}
.contact-us button{
    padding: 10px 30px;
    background-color: #CE1212;
    color: #EEEEEE;
    align-self: center;
    border-color: #CE1212;
    border-radius: 100vh;
    font-size:medium;
    margin: 10px 0;
}
/* </contact us> */

/* <footer> */
footer{ 
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-logo{
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.footer-logo a img{
    width: 10%;
    align-items: center;
    margin-right: 10px;
}
footer h5{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
}
.about .footer-icon{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
footer p{
    color: #FFFFFF;
}
.about .footer-icon i{
    color: #ffffff;
}
.footer-logo a{
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}
/* <subscribtion> */
.subscribtion , .about, .get-touch{
    width: 100%;
    padding: 20px 10px;
}
.footer-email{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.subscribtion button{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    background-color: #CE1212;
    border-color: #CE1212;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 10px; */
    padding: 0;
}
.list ul li{
    width: 50%;
    padding: 5px 0;
    transition: transform 0.3s ease;
    list-style: none;
}
.list ul li a{
    color: #FFFFFF;
    list-style: none;
}
.list ul li:hover{
    transform: translateX(10px);
    background-color: #222;
}
/* <get touch> */
.get-touch i{
    color: #CE1212;
}
/* </footer> */
@media (min-width:768px){
    .chefs .container .chefnames{
        display: flex;
        flex-wrap: wrap;
        .chef-name{
            margin: 15px;
            width: calc(50% - 30px);
        }
    }
    .gallery .gallery-item{
        column-count: 2;
    }
    .contact-us .container{ 
        .details{
            display: flex;
            flex-wrap: wrap;
            .address{
            width: calc(50% - 20px); 
            }
        }
    }
    footer .container{
        display: flex;
        flex-wrap: wrap;
        .about , .get-touch{
            margin: 5px;
            width: calc(50% - 20px);
            order: 0;
        }
        .subscribtion{
            order: 1;
            width: 100%;
            .footer-email{
                width: 80%;
            }
            .footer-button{
                width: 15%;
            }
        }
    }  
}
@media (min-width:1024px){
    .home .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .home-img{
            width: 40%;
        }
        .home-text{
            width: 50%;
            text-align: left;
            padding-left: 50px;
        }
        .home-button{
            justify-content: left;
            .book, .youtube{
                margin: 20px;
                justify-content: space-between;
            }
        }
    
    }
    .chefs .container .chefnames{
        display: flex;
        width: 100%;
        padding: 30px 0;
        .chef-name{
            margin: 0 10px;
            width: calc(33.3333% - 20px);
        }
    }
    .gallery .container{
        .gallery-item{
            column-count: 3;
        }
    }
    .contact-us .container{ 
        .form{
            display: flex;
            .name, .email{
                width: calc(50% - 10px);
            }
        }
    }
}
@media (min-width:1280px){
body{
    padding-top: 90px;
}
.navbar{
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: baseline;
        .menu ul{
            display: flex;
            li{
                padding: 0 10px;
            }
        }
    }
    /* .menubar .menu ul li{
        padding: 0 15px;
    } */
}
.chefs .container .chefnames .chef-name{
    width: calc(33.33333% - 20px);
}
footer .container{
    display: flex;
    .about, .get-touch{
        width: calc(25% - 10px);
        order: 0;
    }
    .subscribtion{
        width: calc(50% - 10px);
        order: 0;
        .footer-email{
            width: 75%;
        }
        .footer-button{
            width: 20%;
        }
    }
}
}
